.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
}
.modal-content h2 {
    font-size:20px;
    font-family: "Limelight", sans-serif;

}
.modal-content p{
    color: #525252;
    font-size:12px;
}
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.register-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group label {
    font-size: 8px;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.submit-btn {
    padding: 12px;
    background-color: #525252;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight:bold;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #756D6D;
}